@model IEnumerable<Userspace.Web.Models.Tag>

@{
    ViewData["Title"] = "Tags";
}

<h1>Tags</h1>

<p>
    <a>Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Create", "Tags", new
               {
                   controller = "Home",
                   action = "Tags"
               }) |
                    @Html.ActionLink("Edit", "Tags", new
               {
                   controller = "Home",
                   action = "Tags"
               }) |
                    @Html.ActionLink("Delete", "Tags", new
                 {
                     controller = "Home",
                     action = "Tags"
                 })
                </td>
            </tr>
        }
    </tbody>
</table>
