@model IEnumerable<Userspace.Web.Models.LinkViewModel>

@{
    ViewData["Title"] = "Home page";
}

<h1>Links</h1>

<p>
    <input type="button" value="Create new" onclick="location.href='@Url.Action("Create", "Links")'" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Link.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Link.ID)
                </td>
                <td>
                    @Html.ActionLink(item.Link.Name, "TagsByLink", "Links", new { linkId = item.Link.ID })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Home", new
               {
                   controller = "Links",
                   action = "Home"
               }, new { onclick = "javascript:return false;" }) &nbsp; | &nbsp;
                    @Html.ActionLink("Delete", "Home", new
               {
                   controller = "Links",
                   action = "Home"
               }, new { onclick = "javascript:return false;" })
                </td>
            </tr>
        }
    </tbody>
</table>
